@import "tailwindcss";

:root {
  --header-height: 47px;
  --footer-height: 120px;
  --container-height: calc(100vh - var(--header-height) - var(--footer-height));
  --desktop-header-height: 47px;
  --desktop-footer-height: 104px;
  --desktop-container-height: calc(100vh - var(--desktop-header-height) - var(--desktop-footer-height));
}

* {
  --scrollbar-track: transparent;
  --scrollbar-thumb: #202E3C;
  --scrollbar-thumb-radius: 9999px;
  --scrollbar-width: .25rem;
  --scrollbar-height: .25rem;
}

html {
  font-family: Noto Sans, system-ui, sans-serif;
  --tw-bg-opacity: 1;
  background-color: rgb(16 24 32 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg-primary-70 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 30 39 / var(--tw-bg-opacity));
}

.border-primary-60 {
  --tw-border-opacity: 1;
  border-color: rgb(32 46 60 / var(--tw-border-opacity));
}

.rounded-12 {
  border-radius: .75rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-32 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.px-12 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text-14 {
  font-size: .875rem;
  line-height: 1.25;
}

.text-18 {
    font-size: 1.125rem;
    line-height: 1.25;
}



.text-gray-50 {
    --tw-text-opacity: 1;
    color: rgb(128 139 155 / var(--tw-text-opacity));
}

.gap-8 {
    gap: .5rem;
}

.gap-16 {
    gap: 1rem;
}

.font-space {
   font-family: Space Grotesk, sans-serif;
}

@media (min-width: 560px) {
  .sm\:text-22 {
    font-size: 1.375rem;
    line-height: 1.25;
  }
}

@media (min-width: 375px) {
    .xs\:text-24 {
        font-size: 1.5rem;
        line-height: 1.25;
    }
}